<footer class="mt-5">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Siddharthpl/Wander-luxe"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://github.com/Siddharthpl/Wander-luxe"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/Siddharthpl/Wander-luxe"><i class="fa-brands fa-linkedin-in"></i></a>

        </div>
        <div> &copy; WanderLuxe private limited - Siddharth Pundir</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>